* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif, serif;
  /* user-select: none; */
}
.logo img {
  width: 100px;
}
.aboutbold {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 280px;
  color: #f0f0f0;
  font-weight: 700;
  font-family: serif;
  z-index: -1;
  padding-top: 50px;
}
.item {
  width: 455px !important;
  height: 455px !important;
}
.imagewidth {
  width: 455px;
  overflow: hidden;
}
.NameAndRoll h2 {
  letter-spacing: 1px;
}
.NameAndRoll {
  width: 380px !important;
  overflow: hidden;
}
.rotate {
  transform-origin: left 0;
  display: inline-block;
  transform: rotate(90deg);
}
.rotate h2 {
  font-family: "Karla", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1em;
  margin-left: 30px;
}
.line {
  position: absolute;
  top: 8px;
  right: -107px;
  background: #000;
  width: 100px;
  height: 1px;
}
.aboutMe {
  margin: auto 0;
}
.NameAndRoll .item {
  display: inline-block;
  height: 80px !important;
}
.Aboutpara {
  text-align: justify;
  margin-left: 20px;
}
.icons svg {
  border: 2px solid #ca82f8;
  box-sizing: content-box;
  padding: 6px;
  border-radius: 30px;
  color: #ca82f8;
  cursor: pointer;
}
.contactbtn button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #d9d9d9;
  background: #fff0;
  overflow: hidden;
  transition: 31ms cubic-bezier(0.5, 0.7, 0.4, 1);
}
.contactbtn button:before {
  content: attr(alt);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  font-size: 14px;
  color: #000;
  letter-spacing: 2px;
  opacity: 1;
}
.contactbtn button:active {
  box-shadow: none;
  transform: translateY(7px);
  transition: 35ms cubic-bezier(0.5, 0.7, 0.4, 1);
}
.contactbtn button:hover:before {
  transition: all 0s;
  transform: translateY(100%);
  opacity: 0;
}
.contactbtn button i {
  color: #000;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-style: normal;
  transition: all 2s ease;
  transform: translateY(-20px);
  opacity: 0;
}
.contactbtn button:hover i {
  transition: all 0.2s ease;
  transform: translateY(0);
  opacity: 1;
}
.contactbtn button:hover i:nth-child(1) {
  transition-delay: 0.045s;
}
.contactbtn button:hover i:nth-child(2) {
  transition-delay: calc(0.045s * 3);
}
.contactbtn button:hover i:nth-child(3) {
  transition-delay: calc(0.045s * 4);
}
.contactbtn button:hover i:nth-child(4) {
  transition-delay: calc(0.045s * 5);
}
.contactbtn button:hover i:nth-child(6) {
  transition-delay: calc(0.045s * 6);
}
.contactbtn button:hover i:nth-child(7) {
  transition-delay: calc(0.045s * 7);
}
.contactbtn button:hover i:nth-child(8) {
  transition-delay: calc(0.045s * 8);
}
.contactbtn button:hover i:nth-child(9) {
  transition-delay: calc(0.045s * 9);
}
.contactbtn button:hover i:nth-child(10) {
  transition-delay: calc(0.045s * 10);
}
.servicebold {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 280px;
  color: #f0f0f0;
  font-weight: 700;
  font-family: serif;
  z-index: -1;
}
.headingforservice span {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  margin-bottom: 10px;
  color: #bfbfbf;
  font-weight: 600;
}
.headingforservice h2 {
  font-size: 34px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.5em;
  color: #000;
  position: relative;
}
.skill {
  padding-top: 230px !important;
}
li {
  font-size: 14px;
  padding: 5px 0;
}
.headingforwork span,
.headingforcontact span {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  margin-bottom: 10px;
  color: #bfbfbf;
  font-weight: 600;
}
.headingforwork h2,
.headingforcontact h2 {
  font-size: 34px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.5em;
  color: #000;
  position: relative;
}
.work-name {
  display: inline-block;
  padding: 4em 3em;
  background: #fff0;
  box-shadow: 0 2px 49px -4px rgb(0 0 0 / 0.21);
  transition: 0.3s all ease;
}
.work-name:hover {
  padding: 100px;
  transition: 0.3s;
  cursor: pointer;
  background-color: #ca82f8;
  color: #fff;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
.work-img {
  width: auto;
  height: 90vh;
  background: no-repeat center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}
.lineforwork {
  position: absolute;
  content: "";
  width: 70px;
  height: 1px;
  background: #000;
}

.btnwork button {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 12px;
  position: relative;
}
.workcarousel .work-img {
  width: 95%;
  height: 35vh;
  background: no-repeat center;
  background-size: contain;
  transition: 0.5s ease;
  margin: 10px;

}
.workcarousel .owl-nav {
  position: absolute !important;
  top: 0;
  width: 100% !important;
  margin-top: -75px !important;
}
.workcarousel .owl-nav button {
  font-size: 20px !important;
  border: none !important;
  width: 40px !important;
  height: 40px !important;
  border: 0.1px solid #c5c5c5 !important;
}
.workcarousel .owl-nav button:hover {
  border: none !important;
  background: #282728 !important;
}
.workcarousel .owl-dots {
  display: none;
}
.contactform textarea {
  height: 25vh;
  outline: none;
  letter-spacing: 0.5px;
}
.btncontact button {
  position: relative;
  overflow: hidden;
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  cursor: pointer;
  background: #ca82f8;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btncontact button span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}
.btncontact button span:last-child {
  color: #fff;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}
.btncontact button:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}
.btncontact button:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}
.btncontact button:hover span:last-child {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
.footerback {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f0f0f0;
}
.custom-shape-divider-top-1711354577 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.custom-shape-divider-top-1711354577 svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 150px;
}
.custom-shape-divider-top-1711354577 .shape-fill {
  fill: #fff;
}
.subdivfooter2 li {
  list-style-type: none;
  font-size: 16px;
  margin-left: -25px;
  cursor: pointer;
}
.footerheading h1 {
  letter-spacing: 2px;
}
.education h6 {
  letter-spacing: 1px;
}
.education p {
  letter-spacing: 1px;
}
.aboutme li {
  list-style-type: none;
  line-height: 40px;
  font-size: 18px;
}
.downloadresume .Btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 0.11);
}
.downloadresume .svgIcon {
  fill: #d6b2ff;
}
.downloadresume .icon2 {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid #b68fff;
  border-left: 2px solid #b68fff;
  border-right: 2px solid #b68fff;
}
.downloadresume .tooltip {
  position: absolute;
  right: -105px;
  opacity: 0;
  background-color: #0c0c0c;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  pointer-events: none;
  letter-spacing: 0.5px;
}
.downloadresume .tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #0c0c0c;
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  left: -5%;
  transition-duration: 0.3s;
}
.downloadresume .Btn:hover .tooltip {
  opacity: 1;
  transition-duration: 0.3s;
}
.downloadresume .Btn:hover {
  background-color: #965eff;
  transition-duration: 0.3s;
}
.downloadresume .Btn:hover .icon2 {
  border-bottom: 2px solid #ebebeb;
  border-left: 2px solid #ebebeb;
  border-right: 2px solid #ebebeb;
}
.downloadresume .Btn:hover .svgIcon {
  fill: #fff;
  animation: slide-in-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.btnworks .lineforwork {
  margin-left: 105px;
  margin-top: 20px;
  width: 60px;
}
.laptop {
  display: block;
  overflow: hidden !important;
}
.phone {
  display: none;
  overflow: hidden !important;
}
.service {
  position: relative;
}
.fancy {
  background-color: #fff0;
  border: 0.5px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}
.fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: #000;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: 0.3s linear, width 0.3s linear;
}
.fancy .text {
  font-size: 12px;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}
.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}
.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}
.fancy:hover {
  color: #fff;
  background: #000;
}
.fancy:hover::before {
  width: 0.9375rem;
  background: #fff;
}
.fancy:hover .text {
  color: #fff;
  padding-left: 1.5em;
}
.fancy:hover .top-key {
  left: -2px;
  width: 0;
}
.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

.workfont p{
    font-size: 10px !important;
}
@media screen and (max-width: 500px) {
  .laptop {
    display: none;
    overflow: hidden;
  }
  .phone {
    display: block;
    overflow: hidden;
  }
  .aboutbold,
  .servicebold {
    font-size: 90px !important;
    padding-top: 50px;
  }
  .imagewidth .item {
    width: 398px !important;
    height: 358px !important;
    overflow: hidden;
  }
  .NameAndRoll .item {
    width: 355px !important;
    text-align: center;
    overflow: hidden;
    display: inline-block;
  }
  .headingforservice h2 {
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    position: relative;
  }
  .skill {
    padding-top: 150px !important;
  }
  .work-img {
    width: 88vw;
    height: 26vh;
    background: no-repeat center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
  }
  .lineforwork {
    position: absolute;
    content: "";
    width: 70px;
    height: 1px;
    background: #000;
    margin-left: -45px;
  }
  .headingforwork h2,
  .headingforcontact h2 {
    font-size: 34px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0.5em;
    color: #000;
    position: relative;
  }
  .workcarousel .owl-nav {
    width: 100% !important;
    margin-top: 430px !important;
    display: none;
    justify-content: center;
    align-items: center;
  }
    .workcarousel .work-img {
        width: 80vw !important;
        height: 23vh !important;
        background: no-repeat center;
        background-size: contain;
        transition: 0.5s ease;
    }
  .item {
    width: 455px !important;
    height: 420px !important;
  }
  .btnworks .lineforwork {
    margin-left: 100px;
    margin-top: 16px;
    width: 60px;
  }
  .rotate h2 {
    font-family: "Karla", Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1em;
    margin-left: 35px;
  }
  .line {
    position: absolute;
    top: 8px;
    right: -60px;
    background: #000;
    width: 60px;
    height: 1px;
  }
  .subdivfooter1 img {
    width: 260px;
    margin-left: -41px;
  }
  .copyrights p {
    font-size: 10px;
  }
  .work-name:hover {
    padding: 30px;
    transition: 0.3s;
    cursor: pointer;
    background-color: #ca82f8;
    color: #fff;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }
}
